## .NET
bin/
obj/
/packages/
nupkg/

## IDE - JetBrains Rider
.idea/
*.iml
/_ReSharper.Caches/

## IDE - Visual Studio
.vs/
*.user
*.suo

## IDE - VS Code
.vscode/

## OS
.DS_Store
Thumbs.db

## AI Related
CLAUDE.md
AGENTS.md
.claude
plugin-request.md
